/* reset.css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}

/* typography.css */
body{font-size:75%;color:#222;background-color:#fff;font-family:"Lucida Grande",Helvetica,Arial,Helvetica,sans-serif;}
h1,h2,h3,h5{font-weight:normal;color:#111;}
h1{font-size:2.6666em;line-height:1.125;color:#244974;}
h2{font-size:2em;color: #244974;}
h3{font-size:1.5em;line-height:1.3846;text-align:center;color: #244974;}
h3 img{margin-bottom:-4px;}
h5{font-size:0.9166em;line-height:1.6363;margin-bottom:0.75em;font-weight:bold;}
p{margin:0 0 1.5em;}
a:focus,a:hover{text-decoration:underline;}
a{color:#1F488F;text-decoration:none;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
/*ul{list-style-type:disc;}
ol{list-style-type:decimal;}*/


/*Fin tipografia*/



/* forms.css */
.error, .notice, .success {padding:.8em;margin-bottom:1em;text-align:center;}
.error {background:#FBE3E4;color:#8a1f11;}
.notice {background:#FFF6BF;color:#514721;}
.success {background:#E6EFC2;color:#264409;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.margin-up{margin-top:0.75em;}


#barra-brasil {
  background: #004B82 url('../images/ufrgs/barra-brasil-v3-bgx.png') center bottom no-repeat;
}

#barra-brasil .barra {
  height: 28px;
  width: 960px;
  margin: 0 auto;
  display: block;
  background: url('../images/ufrgs/barra-brasil-v3-bgx.gif') 0 bottom repeat-x;
}

#barra-brasil .barra ul {
  float: right;
  width: 319px;
  margin: 0;
  padding: 0;
}

#barra-brasil .barra li {
  float: left;
  list-style-type: none;
  padding-left: 25px;
}

#barra-brasil .brasilgov {
  width: 108px;
  height: 28px;
  background: #004B82 url('../images/ufrgs/brasil.png') no-repeat 0 4px;
  display: block;
}

#barra-brasil .ai {
  width: 161px;
  height: 28px;
  background: #004B82 url('../images/ufrgs/ai.png') no-repeat 0 4px;
  display: block;
}

#barra {
  height: 32px;
  background-image: url('../images/ufrgs/barra_fundo.jpg');
}

#areabarra {
  width: 960px;
  margin: 0 auto;
}

#chama {
  width: 50px;
  height: 32px;
  background-image: url('../images/ufrgs/barra_chama.jpg');
  float: left;
}

#barra-links {
  width: 650px;
  height: 30px;
  float: left;
  margin-left: 10px;
}

#barra-links dl {
  margin: 0;
}

#barra-links dd {
  margin-left: 15px;
  display: inline;
  float: left;
}

#barra-links dd a {
  color: #BBDCEA;
  line-height: 32px;
  font-size: 12px;
}

#navbar-wrapper {
  background: #004B82;
}

#topo #logo-ufrgs img {
  width: 160px;
  height: 127px;
}

#navbar {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 10px;
}

#main-logo img {
  width: 231px;
  height: 120px;
}

#page-header-wrapper {
  background: #F6F6F6;
  border-bottom: 1px solid #E4E4E4;
  padding: 0;
}

#page-header {
  text-align: center;
  font-size: 14px;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 15px 0;
}

.clearer {
  clear: both;
}


#footer-wrapper {
  width: 100%;
  height: 150px;
  clear: both;
  background-color: #004B82;
  position: absolute;
  bottom: 0;
}
#footer{
  width: 960px;
  margin: 0 auto;
  position:relative;clear:left;font-size:0.9166em;line-height:1.6363;color:#666;margin-bottom: 15px;
  padding-top: 10px;
}
#footer ul{list-style-type:none;margin:0 0.75em; }
#footer ul li{display:inline-block;position:relative;margin-right:3px;}
#footer ul #trade_mark{font-weight:bold;}
#footer .icon,#global .icon{margin-bottom:-4px;}

#footer {
  width: 980px;
  margin: auto;
  background-image: url('../images/ufrgs/rodape.jpg');
  background-repeat: no-repeat;
  height: 150px;
  padding: 0;
}

#footer .about-mconf {
  float: right;
  margin: 20px 0;
  text-align: center;
  color: #ccc;
}

#footer .about-mconf a {
  color: #88b4d4;
}

#footer .logo-mconf {
  background-image: url('../images/ufrgs/mconf-white-transp.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60px;
}

#sponsor ul{list-style-type:none;margin:0 0.5em; }
#sponsor ul li{display:block;margin-right:0.25em;position:relative;margin: 25px 0;clear:both;x}
#sponsor{font-weight:normal; font-size: 10px; line-height: 1.1em;}
#sponsor{
}
#sponsor .logo_and_description {
  text-align: right;
  width: 170px;
}
#sponsor .logo_and_description img {
  float: right;
  margin-left: 5px;
  margin-top: -5px;
}
#sponsor-wrapper {
  text-align: center;
  float: right;
  margin-top: -120px;
}
#sponsor-wrapper h3 {
  text-align: right;
}

#content-container {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

#site {
  position: relative;
  min-height: 100%;
}

html, body, #home {
  height: 100%;
}

#content {
  padding-bottom: 170px;
}

#content-center {
  border: 1px solid #EEE;
  border-top: none;
  background: url('../images/ufrgs/degrade.jpg') repeat-x bottom;
  margin-bottom: 40px;
}

#content-title {
  width: 100%;
  height: 50px;
  background: url('../images/ufrgs/titulo.jpg') no-repeat;
  color: white;
  font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  text-indent: 10px;
  letter-spacing: -2px;
  margin: 0;
  border-bottom: none;
}

#content-core {
  padding: 100px 50px;
  text-align: center;
}

#login-button {
  min-width: 300px;
}

#login-button .btn {
  width: 100%;
}

#login-button span {
  display: block;
  margin-top: 30px;
  color: #666;
}


.btn {
  text-align: center;
  border: 1px solid #BBB;
}

.btn:hover {
  text-decoration: none;
}

.btn-large {
  font-size: 20px !important;
  padding: 11px 19px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.btn-danger {
  background-color: #DA4F49;
  background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
  background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
  background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success {
  background-color: #51A351;
  background-image: -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: linear-gradient(to bottom, #62C462, #51A351);
  background-image: -moz-linear-gradient(top, #62C462, #51A351);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #006DCC;
  background-image: -webkit-linear-gradient(top, #08C, #04C);
  background-image: linear-gradient(to bottom, #08C, #04C);
  background-image: -moz-linear-gradient(top, #08C, #04C);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-warning {
  background-color: #FAA732;
  background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
  background-image: linear-gradient(to bottom, #FBB450, #F89406);
  background-image: -moz-linear-gradient(top, #FBB450, #F89406);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
